<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Burgers</key>
	<array>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/826f87427bb1c14b639aa4c95bb6284ca759390c_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/3fbd1fc1786ba15e18a85f1fd2bc6ca3a5af94df_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/8d0858a9e747c9141188203f985eb526d20c8606_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/fb43eb91130a88c2dc5aa03dd3cb6e88f73cc247_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/0c349e6576b63cea37fd52ce9af9102f17614630_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/2ac97bdfaf6d78bac0e0c847062d9c75e76b4454_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/6ef4311dc9a0e29fc18df77e92a95cb814aa61ff_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/62ce16a1c5a1edf36bb7e53a854ea073401ad520_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/d441e0b449af455cdbff42e15768389db58c1321_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/ca03a841088331505e942d73964347276323ab00_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/61029007d3f8db7ea3655b25e7371608c551fc33_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/54af3ae679f542ac80f71f04af95ddc4e581c270_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/462389d5a9372a15c071fab2c3e8cc5fbeb9f4c8_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/58d748887c0d7bd291da4e00f035413fae945af3_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/8f3b5131c69eef0fc6957c0c6982f503091c0b9e_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/4f8981690b1b80424557667e15f203f83356cb2e_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/2d3c4d2835db1d311069092527ccf19ae4fffa2e_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/cebed330dbacec746f9c9ffc9dec0e44bc691080_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/3b19c6b016d441082e7d873565cf8d03210c4ace_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-food-images/ac525d94883c212256cae0e80577cddc50d0c88b_lg.jpg</string>
	</array>
	<key>Sushi</key>
	<array>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/3317ae4d790d110c27bfc7dce0d3a5dff2f44eed_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/2926412e3b7c3e85357f21e5b1793d4d590cd145_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/d0734dfb68f1dee8502e013156861731846c4abf_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/3fb1389e24e4f107f7ab0257925c3ce57ebf6c64_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/224995f9864afbf71392a2b678322577ea9431db_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/2e54351b4ae0d5a21095cd9bf51c2aab147b78e6_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/dce1b93259a089cc5d08173f85c0f097d0c39edd_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/5ba0de4cba0b342e5769f9a0bcf03532488266e1_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/f84a73edfefc8af3234749e30d72c15faf37e05e_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/df82fc839165d6df7e567ec5ffe872aeb6e22e3c_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/533c9dfc39f0cc0995505d588dc5c94bb354348e_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/cc192ac895770dea85d5fa1ceb09d93202faee0a_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/dd88e5b6f7ffa21bab8516b96a8c11371416944e_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/c10bb014c8872854be23125fa56e9f3b3c43f9f1_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/8e1a880a8270c4836741086e605ae2ab88585df6_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/4774fd1781b1257795295201a2cf7af4fddd27d4_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/1f62db925b176fdf1d8cde1b7a839833545f3efc_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/1e5b0d56fb6268ba80525e05ffc7a7fa91722968_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/a86ca9f9c7748bf533febee9b86018b31e14b9cb_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/660864475756e553b79f0e095f5578fb1987fd9e_lg.jpg</string>
	</array>
	<key>Cake</key>
	<array>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/9a3d3fd3b2a5c2870900fc04cb2a58155ccd2cd9_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/d1859bd19aecbdd4b74c98c263b0dfcfdec2d1af_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/f32ac3679720c7947879a513d47642e9b31e73c8_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/f96cd8c362e3305d163b64ba0b17c11b97df45da_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/1287f752b9f7dbea78a22ce717bf0aab1833df50_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/40e16369aa9d190ad8c5a105d1257df8575d73d3_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/a6bfa62941f0c46a67eb6531ed51694a44ff6313_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/d13a5ddd3ac9372b5a12fe7c3ef16b9f43730251_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/3e1894578f32d36dbd8157e108746ecdf11ee19a_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/4bf59ff06a8022b1fa7612f5da9865a522248e36_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/d72fa0540447e7fa99d56decb6e74c48dcc2caa4_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/17e5ed4bb99a7a94eee24b3ac1d738989049f1d4_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/8ab76aec84e51479d10136d2d32859a9ebe2f568_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/fe232ac9fb8b07754fa3d8405e6dc1258da3609b_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/a1eac413af3791441dad0f808826153e3983364e_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/dc0cb5d3d59eb2e75dc37dd31107a9d7dd15374f_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/ef2498f599dc251921ef83d8182237a0fd5a0499_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/d38e52f9054f81a111ad9c2f96460bf8b8179ee1_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/80c6aa54ddb18cd35d3d18f3900f2e2d0a8be58d_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-phl/8cb4ba7bdf37ea6044ef00583eac0208ca8b245c_lg.jpg</string>
	</array>
	<key>French</key>
	<array>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/49583d94255e3b9f97c7b75b92fa83823cc8293d_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/b54d0adc160b8e779709c68b8beef391bb1e9643_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/27d2e2628a63b8d8269fc2fa637a07e61fcbdc29_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/95c00a2b6688f99123a36157f37522778be5713c_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/afa7f62902bdc3c6ac5acc088dce5b4fc6cadf8f_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/fe389ad29499ece81d742a379c45b04c1fce7d48_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/46dbcb57e6dd0bdba46ba8c59a8ef0bb7838afe3_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/1f95470eb4f474d2c34f6fd12ca62c7c1362bb26_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/a51e3527f7745a5c952ba0d9d6b7b072bc9eed14_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/e2959b4be0e4b88eaf8e43ae34e379ca5df7343c_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/3378249b9cc961c7073b30f3fa61051122f2a553_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/ab252c16af6a4bbe1b33d94d2e25e401ef24d88d_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/6f911b48becb4a262c571c6c48a37f40d8f844d4_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/be0211b26711d38929b4d9da20d800ec4d6c0cff_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/5fc52211adfb3d867c5edba1b60df2826d306c5b_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/1705714418e70becdc4ca3b0d997ab5b410f7bcf_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/640e09a96100e224664d418e0c799e20497cb833_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/4122957d205b45be59e284d8ce153341e7a2c6b2_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/df2b425fad54285648855f89af7529d34a87dff1_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/716b0f1eecd0163a0aa8e8cc4495ce98a7c0e51d_lg.jpg</string>
	</array>
	<key>Pizza</key>
	<array>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/c15a11a35c42f6b6a90fe844f7123e4cef09c772_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/d3f483b6e3cebe8077b41723956f01c6a92c7b00_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/6481d5a3c49198f686cb93166313b0d14d1dbb02_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/dac63cbc180a9cab2f1ac6aa445b36743db30156_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/aceb52a8530445c83ab2811d332d6c35f6b6d23a_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/35644e929418389d237e77c1cd99401418d42b7a_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/4ebc836b0f9dbd8918730d9ed83128711a56bf28_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/f91eca98b0f865d302a1a8a10f319f5d1814b90b_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/a5c5f7707c893ecf42a4ef84afa571d91caa8d6c_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/00e2c004fed4a8204c46e2cc0e29047a223137e8_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/8dd29508adddad71e3f904c39d4506bc0659da77_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/7127340f4dee47c0717a6aef5e1647efd2da5951_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/41868eaeaa3e1a94f59f3a4d95d40debce516f2f_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/7ff678c5775ff85f85669249e8c6e0960352c878_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/0778cd52221abf711a2ba05cde37f93151e5af43_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/ad173c4ff2178ef707aa55addcbf031b88caff50_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/1463fe5ee0dca7150e4a9106dcf8469b92dd3fd4_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/4b6c3244b7dd5f61ae3cb2f199afd41842315409_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/a431ac95e7a3d08d18419c8906ca773b4c945604_lg.jpg</string>
		<string>http://s3.amazonaws.com/dellerbie-places-nyc/8de56ba090dea030abfac93961821ed4d9574222_lg.jpg</string>
	</array>
</dict>
</plist>
